* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.canvas-wrapper {
  flex-grow: 1;
  padding: 20px;
  background: rgb(136, 136, 136);
}
#canvas {
  display: block;
  background: white;
}
.buttons {
  border: 1px solid red;
  display: flex;
  padding-left: 0.5vh;
  padding-top: 0.5vh;
  height: 15vh;
}
.gongju {
  border-right: 1px solid black;
  padding: 5px 10px;
}
.gongju .eraser {
  margin-left: 10px;
}
.gongju > .text {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}
.line {
  display: flex;
  flex-direction: column;
}
.linewidth {
  text-align: center;
}
.color {
  width: 28vh;
  margin-top: 1vh;
}
.color div {
  margin: 0;
  display: inline-block;
  border: 0.5px solid black;
  width: 2vh;
  height: 2vh;
}
button {
  background-color: white;
  border: none;
}
.color div:hover {
  box-shadow: inset 5em 1em rgba(82, 110, 109, 0.3);
}
